.login-container {
    height: 100vh;
    margin: 0 !important;
    background-color: var(--mat-sidenav-content-background-color, var(--mat-sys-background));
}

.login-container mat-card-title {
    color: white;
}
