<mat-toolbar>
  {{ division.id == null ? "Cadastrar Divisão" : "Editar Divisão" }}
</mat-toolbar>

<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <form class="mt-10" [formGroup]="formGroup" (ngSubmit)="save()">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <mat-form-field [fxFlex]="50">
          <input
            matInput
            placeholder="Nome"
            type="text"
            formControlName="name"
            [(ngModel)]="division.name"
            maxlength="150"
            required
          />
          <mat-error *ngIf="formGroup.controls['name'].invalid">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <mat-form-field [fxFlex]="50">
          <mat-label>Regional </mat-label>
          <mat-select formControlName="regionalId" [(ngModel)]="division.regionalId" required>
            <mat-option *ngFor="let regional of regionals" [value]="regional.id">{{ regional.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="formGroup.controls['regionalId'].invalid">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>

      <div style="margin-top: 15px; margin-bottom: 15px">
        <button mat-flat-button color="primary">
          <mat-icon>save</mat-icon>
          Salvar
        </button>
        <button mat-flat-button type="button" [routerLink]="['/division']">
          <mat-icon>close</mat-icon>
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
