<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">
    <button mat-icon-button (click)="snav.toggle()" #menuBtn>
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <img src="assets/images/mat-toolbar.png" alt="18 Admin" class="toolbar-logo">
    </a>

    <span class="navbar-spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        {{ userName }}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
      <a mat-menu-item [routerLink]="['/auth/login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
      </a>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <mat-sidenav
      #snav
      [opened]="!mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      class="sidenav"
    >
      <mat-nav-list>
        <a [role]="['admin']" mat-list-item (click)="closeSidenavAndNavigate('/user')" routerLinkActive="active">
          <mat-icon matListItemIcon>group</mat-icon>
          <span matListItemTitle>Usuários</span>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item (click)="closeSidenavAndNavigate('/social-action')" routerLinkActive="active">
          <mat-icon matListItemIcon>diversity_3</mat-icon>
          <span matListItemTitle>Ações Sociais</span>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item (click)="closeSidenavAndNavigate('/event')" routerLinkActive="active">
          <mat-icon matListItemIcon>event</mat-icon>
          <span matListItemTitle>Eventos</span>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item (click)="closeSidenavAndNavigate('/poll')" routerLinkActive="active">
          <mat-icon matListItemIcon>poll</mat-icon>
          <span matListItemTitle>Enquetes</span>
        </a>
        <mat-divider></mat-divider>

        <a [role]="['admin']" mat-list-item (click)="closeSidenavAndNavigate('/regional')" routerLinkActive="active">
          <mat-icon matListItemIcon>apps</mat-icon>
          <span matListItemTitle>Regionais</span>
        </a>
        <mat-divider></mat-divider>

        <a [role]="['admin']" mat-list-item (click)="closeSidenavAndNavigate('/division')" routerLinkActive="active">
          <mat-icon matListItemIcon>safety_divider</mat-icon>
          <span matListItemTitle>Divisões</span>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item (click)="closeSidenavAndNavigate('/person')" routerLinkActive="active">
          <mat-icon matListItemIcon>group</mat-icon>
          <span matListItemTitle>Integrantes</span>
        </a>
        <mat-divider></mat-divider>

        <a [role]="['admin']" mat-list-item (click)="closeSidenavAndNavigate('/report/graduation')" routerLinkActive="active">
          <mat-icon matListItemIcon>school</mat-icon>
          <span matListItemTitle>Relatório de Graduação</span>
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item (click)="closeSidenavAndNavigate('/auth/login')">
          <mat-icon matListItemIcon>exit_to_app</mat-icon>
          <span matListItemTitle>Sair</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">
      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
