.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px); /* account for toolbar height */
}

.home-image {
  max-width: 70%;
  height: auto;
}

.welcome-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.welcome {
  margin: 0;
  font-size: 28px;
}
